.calculator {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculator-keys button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.screen {
  width: calc(60px * 4 + 30px);
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
